@model DoAnWeb_Nhom3.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Bạn có chắc muốn xóa sản phẩm này</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <img src="~/Images/@Html.DisplayFor(model => model.ANHBIA)" width="500" height="400" style="border-radius:20px" />
        </div>
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TENSP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TENSP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GIATIEN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GIATIEN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SOLUONG)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SOLUONG)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MOTA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MOTA)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LOAISANPHAM.TENLOAISP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LOAISANPHAM.TENLOAISP)
                </dd>
                <dd>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color" style="padding-top:20px">
                            <button type="submit" class="btn btn-success" style="width:100%">Xóa</button>

                        </div>
                    }
                            </dd>
            </dl>
        </div>

        
    </div>
