
<div class="row ">
    <div class="shadow-div" style="background-color:#FF9900;border-radius:5px;"><h3 style="padding:20px;color:white"><b></b></h3></div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <a href="@Url.Action("xemchitiet", new {@MASP=item.MASP })">
                <img src=@Url.Content("~/Images/"+item.ANHBIA) alt="" width="250" height="200" />
            </a>
            <center>
                <h3><b>@item.TENSP</b></h3>
                <h3 style="color:red">@String.Format("{0:0,0}", @item.GIATIEN) VNĐ</h3>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMASP = item.MASP, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" class="btn" style="background-color:#e1701a;color:white" value="Mua hàng" id="bgnGioHang" />

                }
                @*<a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a>*@
            </center>

        </div>
    }
    @*<div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>*@
</div>